@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;

}

body {
	background-image: url("../images/background.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	
}
	

	.wrapper {
	width: 85%;	
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	padding: 10px;
}
		
	
#title {
	
	font-family: 'Vesper Libre', serif;
	font-size: 4vw;
	color:rgb(95, 59, 34);
	margin-left: auto;
	margin-right: auto;
	
	}
#miri {
	font-family: 'Ruthie', cursive;
	color:rgb(92, 92, 83);
	/*font-weight: 900;*/
	font-size: 5vw;
	margin-left: auto;
	margin-right: auto;
	
}
#fiica {
	
	font-family: 'Ruthie', cursive;
	font-size: 8vw;
	color:rgb(92, 92, 83);
	text-shadow: 1px 1px;
	margin-left: auto;
	margin-right: auto;
	
}
#invitatie, #text {
	font-family: 'Vesper Libre', serif;
	text-align: center;
	font-size: 4vw;
	color: rgb(95, 59, 34);
	margin-left: auto;
	margin-right: auto;
	
}
.ziua,.luna,.anul {
	display: inline-block;
	font-family: 'Vesper Libre', serif;
	font-size: 4vw;
	color: rgb(95, 59, 34);
	margin-left: auto;
	margin-right: auto;
	
}
.luna::before,.luna::after {
  display: block;
  content: "";
  background-color:rgb(95, 59, 34);
  height: 1px;
  width: 8vw;
  margin: .5vw auto;
	
}
.anul::before,.anul::after {
  display: block;
  content: "";
  background-color: rgb(95, 59, 34);
  height: 1px;
  width: 8vw;
  margin: .5vw auto;
	
}
.ziua {
	 height:8vw;
	 width:8vw;
	 border-style: ridge;
	 border-radius: 50%;
	 border-color:rgb(95, 59, 34);
}
.separator,.map {
  max-width: 14vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}
.separator {
	opacity: 0.2;
	filter: alpha(opacity=20);
	
}

span {
	text-transform: uppercase;
}


/*font-family: 'Vesper Libre', serif;
font-family: 'Ruthie', cursive;*/