@charset "utf-8";
/* CSS Document */
/* {
	box-sizing: border-box;

}*/

body {
	background-image: url(../images/background3.jpg);
	background-position: center top;
  	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
	width:100%;
	height: auto;
	
	}
	
 @media (max-width:566px){
	body {
	background-image: url("../images/backgroundsmall.jpg");
	background-position: center top;
  	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
	width:100%;
	height: auto;
	}
}

	.principal {
	width: 90%;	
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	padding: 10px;
	font-family: 'Vesper Libre', serif;
	font-size: 4vw;
	color:rgb(95, 59, 34);
}
		
	

#miri,#fiica {
    font-family: 'Ruthie', cursive;
    color: rgb(92, 92, 83);
    font-size: 8vw;
    text-shadow: 1px 1px rgba(19,18,18,1.00);	
}

.ziua,.luna,.anul {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	
	}
.ziua {
	 height:8vw;
	 width:8vw;
	 border-style: ridge;
	 border-radius: 50%;
	 border-color:rgb(95, 59, 34);
}
.luna::before,.luna::after {
  display: block;
  content: "";
  background-color:rgb(95, 59, 34);
  height: 1px;
  width: 8vw;
  margin: .5vw auto;
	
}
.anul::before,.anul::after {
  display: block;
  content: "";
  background-color: rgb(95, 59, 34);
  height: 1px;
  width: 8vw;
  margin: .5vw auto;
	
}

.separator,.map {
  max-width: 14vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  
}
.separator {
	opacity: 0.2;
	filter: alpha(opacity=20);
	
}

span {
	text-transform: uppercase;
}


/*font-family: 'Vesper Libre', serif;
font-family: 'Ruthie', cursive;*/
